{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrations</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/login.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <div class="form">
        <form action="/login/" id="subform" method="POST">
          {% csrf_token %} {% if error %}
          <p id="error">Error: {{ error }}</p>
          {% endif %}
          <input
            type="text"
            name="username"
            id="user"
            placeholder="Enter User Name"
            required
          />
          <br />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter Password"
            required
          />
          <div class="submitbtn">
            <button class="button button1" type="submit" id="btn">
              Login
            </button>
          </div>
          <div class="regbtn"><a href="/reg" class="button2">Register</a></div>
        </form>
      </div>
    </div>
  </body>
</html>
